@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* set default namespace to XUL */

.toggleproxy-status-autoproxy {
  list-style-image: url("chrome://toggleproxy/skin/home.png");
}

.toggleproxy-status-manualproxy {
  list-style-image: url("chrome://toggleproxy/skin/school.png");
}

.toggleproxy-status-noproxy {
  list-style-image: url("chrome://toggleproxy/skin/no.png");
}

.toggleproxy-status-autourl {
  list-style-image: url("chrome://toggleproxy/skin/url.png");
}

.toggleproxy-status-systemproxy {
  list-style-image: url("chrome://toggleproxy/skin/system.png");
}

#toggleproxy-toolbar-button {
    list-style-image: url("all.png") !important;
}

#toggleproxy-toolbar-button {  
    -moz-image-region: rect(0px 16px 16px 0px);
}
#toggleproxy-toolbar-button[state="no"] {
    -moz-image-region: rect(0px 16px 16px 0px);
}
#toggleproxy-toolbar-button[state="manual"] {  
    -moz-image-region: rect(0px 33px 16px 17px);
}
#toggleproxy-toolbar-button[state="auto-detect"] { 
    -moz-image-region: rect(0px 50px 16px 34px);
}
#toggleproxy-toolbar-button[state="system"] { 
    -moz-image-region: rect(0px 67px 16px 51px);
}
#toggleproxy-toolbar-button[state="auto-proxy"] { 
    -moz-image-region: rect(0px 86px 16px 70px);
}
